.table {
  width: 100%;
  max-height: 465px;
  overflow-y: scroll;
}

.table__header {
  display: flex;
  justify-content: flex-start;

  margin-bottom: 10px;
}

.table__column {
  &:nth-child(1) {
    width: 427px;
  }

  &:nth-child(2) {
    width: 125px;
  }

  &:nth-child(3) {
    width: 109px;
  }

  &:nth-child(4) {
    width: 184px;
  }

  &:nth-child(5) {
    width: 107px;
  }
}

.table__button {
  display: flex;
  align-items: center;
  gap: 8px;

  border: none;
  background-color: transparent;

  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #999999;
  text-transform: uppercase;

  cursor: pointer;

  &--active::after {
    content: '';
    display: block;
    width: 7px;
    height: 4px;
    background-image: url('./assets/arrow_top.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &--active-desc::after {
    background-image: url('./assets/arrow_bottom.svg');
  }
}

.table__row:not(:last-child) {
  margin-bottom: 5px;
}
