.no-results {
  padding: 150px 0;
  margin: 0 auto;
}

.no-results__desc {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #222222;

  margin: 0 auto;
  margin-bottom: 65px;
}

.no-results__button {
  width: 95px;
  margin: 0 auto;
}
